<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Cooking recipe generator</title>
</head>

<body>
    <div class="container">
        <form action="/" id="form" class="form" method="POST">
            <select name="area" class="form-select">
                <option value="" data-display="Select">Any country</option>
                <% area.forEach(element=> { %>
                    <option value="<%= element.strArea %>">
                        <%= element.strArea %>
                    </option>
                <% }); %>
            </select>

            <button type="submit" class="form-submit">Search</button>
        </form>
        <section>
            <% if (locals.data) { %>
                <div>
                    <% data.forEach(element => { %>
                        <h3><%= element.strMeal %></h3>
                        <img src="<%= element.strMealThumb %>/small" alt="Food photo">
                    <% }); %>
                    </div>
            <% } %>
        </section>
    </div>
</body>

</html>