<%- include("partials/header.ejs") %>
    <div class="container">
        <form action="/" id="form" class="form" method="POST">
            <input type="text" name="ingredients" list="ingredient-list" placeholder="Type an ingredient">
            <datalist id="ingredient-list">
                <% ingredients.forEach(ingredient=> { %>
                    <option value="<%= ingredient.strIngredient %>">
                        <% }) %>
            </datalist>
            <div class="buttons">
                <button type="submit" class="form-submit">Search</button>
                <button type="submit" class="form-submit">Random</button>
            </div>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>